body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: end;
  align-items: center;
  background-image: url("image_t.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 65vw;
  min-height: 100vh;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}
.form-group {
  margin: 15px 15px;
  width: 45%;
  display: inline-block;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
select,
input[type="file"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkbox_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  display: inline;
}

.checkbox_container input {
  margin-right: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

span {
  margin-right: 2px;
}
button {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
    width: 100%;
  }

  .form-group {
    width: 90%;
  }

  h2 {
    font-size: 1.5rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="date"],
  select,
  textarea,
  input[type="file"] {
    padding: 6px;
  }

  button {
    padding: 8px;
    font-size: 14px;
  }
}
